{% extends 'BaseTenants/base.html' %}
{% block title %}
    Record: {{ member.id }}
{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-header"><strong>
            {{ member.name }}</strong>
        </div>
        <div class="card-body">



            <p class="card-text">
                <strong>Email: </strong>{{ member.email }}</p>

            <p class="card-text">
                <strong>Age: </strong>{{ member.age }}
            </p>
            <p class="card-text">
                <strong>Phone: </strong>{{ member.phone }}
            </p>

            <p class="card-text">
                <strong>Address: </strong>{{ member.address }}</p>

            <p class="card-text">
                <strong>City: </strong>{{ member.city }}</p>

            <p class="card-text">
                <strong>State: </strong>{{ member.state }}</p>

            <p class="card-text">
                <strong>Zipcode: </strong>{{ member.zipcode }}</p>

            <p class="card-text">
                <strong>Create At: </strong>{{ member.created_at }}</p>

            <p class="card-text">
                <strong>ID: </strong>{{ member.id }}</p>


        </div>
    </div>

    <br/><br/>
    <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>

    <a href="{% url 'delete_record' member.id %}" class="btn btn-danger">Delete</a>

    <a href="{% url 'update_record' member.id %}" class="btn btn-secondary">Update Record</a>


{% endblock %}